<h1>Scrape complete! You just scraped some info from {{scrapesource}}</h1>


<form id="contact-form" action='/'>
    {{!-- <input type="name" id="name" name="name" value="{{this.friendData.name}}" style="display: none;"> --}}

    <input type="submit" style="float:left;margin-top: 2.4%;">
</form>
{{!-- <button onclick="location.href = '../public/index.html';" id="myButton" class="float-left submit-button" >
Press here to see your results.</button> --}}